* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.main {
  display: flex;

  height: 100vh;
  min-height: 616px;
  min-width: 500px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 700px;
  min-height: 616px;
}

.header,
.form,
.foot-section {
  width: 100%;
}

.picture {
  height: 100vh;
  min-width: 450px;
  width: 500px;
  min-height: 616px;
  vertical-align: top;
  position: relative;
  z-index: 2;
}

.form {
  box-shadow: 0px 5px 5px #dbdbdb;
  background-color: white;
  position: relative;
  z-index: 1;
  flex: 2;
}

.header,
.foot-section {
  background-color: #f7f7f7;
}

.foot-section {
  flex: 0.6;
}

.header {
  flex: 1;
}

.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 150px;
  width: 500px;
  padding: 10px 0 10px 0;
}

.logo-h1 {
  margin: 0;
  color: #eee;
}

.odin {
  height: 8rem;
  width: 6rem;
}

.header-text {
  margin: 40px 100px 0 40px;
}

.form-title {
  margin: 20px 0 30px 40px;
}

.fields-container {
  display: flex;
  height: 250px;
  width: 500px;
  gap: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

input {
  border: solid 1px rgb(207, 207, 207);
  width: 270px;
  height: 30px;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}

input:focus {
  box-shadow: 2px 2px 3px #8f8f8f;
  border: solid 1px #2167a1;
  outline: none;
}

label {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
}
