* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.main {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 616px;
  min-width: 500px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 700px;
  min-height: 616px;
}

.header,
.form,
.foot-section {
  width: 100%;
}

.picture {
  height: 100vh;
  min-width: 450px;
  width: 500px;
  min-height: 616px;
  vertical-align: top;
  /* position: relative; */
  z-index: 2;
}

.form {
  box-shadow: 0px 5px 5px #dbdbdb;
  background-color: white;
  position: relative;
  z-index: 1;
  flex: 1;
}

.header,
.foot-section {
  background-color: #f7f7f7;
}

.foot-section {
  flex: 0.6;
}

.header {
  flex: 1;
}

.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 150px;
  width: 500px;
  padding: 10px 0 10px 0;
}

.logo-h1 {
  margin: 0;
  color: #eee;
}

.odin {
  height: 8rem;
  width: 6rem;
}

.header-text {
  margin: 40px 100px 0 40px;
  max-width: 550px;
  font-size: 19px;
  font-weight: 400;
}

#text-3.header-text {
  margin: 20px 0 0 40px;
}

#text-2.header-text {
  margin: 5px 0 20px 40px;
}

.form-title {
  margin: 20px 0 30px 40px;
}

.fields-container {
  display: flex;
  height: 250px;
  width: 500px;
  gap: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

.group-1 input,
.group-2 input {
  border: solid 1px rgb(207, 207, 207);
  width: 270px;
  height: 30px;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  -moz-appearance: none; /* Firefox */
  appearance: none;
}

.group-1 input:focus,
.group-2 input:focus {
  box-shadow: 2px 2px 3px #c9c9c9;
  border: solid 2px #229a72;
  outline: none;
}

label {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
}

.submit-button {
  margin-top: 20px;
  margin-left: 40px;
}

.foot-text {
  margin-top: 5px;
  margin-left: 48px;
}

.link {
  margin: 0;
  font-size: 15px;
}

.submit-button {
  appearance: none;
  border: none;
  border-radius: 10px;
  background-color: #229a72;
  font-weight: 700;
  font-size: 18px;
  color: white;
  padding: 15px;
  width: 230px;
  box-shadow: 2px 3px 3px #adadad;
}

.submit-button:hover {
  background-color: #1b7c5c;
}

.foot-text a {
  text-decoration: none;
  color: #229a72;
  font-weight: 700;
}

.foot-text a:hover {
  color: #1c7456;
}

.img-footer {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 150px;
  color: rgba(211, 211, 211, 0.3);
  font-weight: 700;
}

.img-footer a {
  text-decoration: none;
  color: #3b5472;
}

.img-footer a:hover {
  color: #382b45;
}
